.heart {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 200px;
    background: #f64949;
    animation: pulse 1s infinite alternate;
  }
  
  .square {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: #f64949;
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    background: #f64949;
  }
  
  .top {
    top: 100px;
  }
  
  .left {
    left: 100px;
  }
  
  @keyframes pulse {
    0%   {transform: scale(0.9) rotate(-135deg);}
    100% {transform: scale(1.1) rotate(-135deg);}
  }
  .texto {
    background-color: #f64949;
    text-align:center;
  }
  .barra{
    background-color: #f64949;
    text-align:center;
    color: #f64949;
  }
  .textinho{
    background: linear-gradient(120deg, rgb(243, 116, 137),rgb(240, 22, 73));
    height: 500px;
    width: 630px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    position: absolute;
    left: 580px;
    top: 110px;
    box-shadow: 5px 10px 20px;
    color: aliceblue;
    padding: 5px;
    letter-spacing: 0.5px;
  }